
label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    position: absolute;
    left: 210px;
    top: 5px;
    background-color: white;
    color:  #525252;
    font-size: 1.1rem;
    padding: 1px 10px 3px 10px;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  


