<h1>Ranking</h1>
<h2>This is the ranking of all players:</h2>
    
<div class="form-group">

    <input type="text" class="form-control" placeholder="Search By Name" style="width: 300px" [(ngModel)]="searchTerm">    
</div>

<table class="table" *ngIf="rankings && rankings.length > 0">
  <thead>
      <tr>
          <th scope="col">Discipline</th>
          <th scope="col">Ranking</th>
          <th scope="col">FRanking</th>
          <th scope="col">Last Name</th>
          <th scope="col">First Name</th>
          <th scope="col">Sex</th>
          <th scope="col">Player-ID</th>
          <th scope="col">Birthdate</th>
          <th scope="col">Points</th>
          <th scope="col">GesPoints</th>
          <th scope="col">Tournaments</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let ranking of rankings">
          <th scope="row">{{ranking.Discipline}}</th>
          <td>{{ranking.Ranking}}</td>
          <td>{{ranking.FRanking}}</td>
          <td>{{ranking.family_Name}}</td>
          <td>{{ranking.first_Name}}</td>
          <td>{{ranking.sex}}</td>
          <td>{{ranking.playerId}}</td>
          <td>{{ranking.birthDate}}</td>
          <td>{{ranking.Points}}</td>
          <td>{{ranking.GesPoints}}</td>
          <td>{{ranking.Tournaments}}</td>
         
      </tr>
  </tbody>
</table>
    
    

    